<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickle League Submission</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
<style>
    #t01 {
  width: 100%;
      border-spacing: 5px;
padding: 15px;
    border: 1px solid black;
} 
    </style>
  </head>
  <body>
  
    <p>Round robin pairings are only available for 4-24 players. </p>

    <form method="post" action="/goHome">
    <p><input type="submit" value="Return to league homepage"></p>
</form>

  </body>
</html>
